body {
    background-color: lightsteelblue;
}

.center-component {
    position: absolute!important;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2000;
}

.inscription {
    text-decoration: none;
}